---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
---

<h1>🏷️ {{ tag }}</h1>

<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist  %}
  <li><a href="{{ post.url | url }}">🗒️ {{ post.data.title }}</a></li>
{% endfor %}
</ul>

<hr />

<p><b><a href="/tags">See All Tags</a></b></p>
