---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<h1>🏷️ {{ tag }}</h1>

<ul>
{% set taglist = collections[ tag ] %}
{% for item in taglist  %}
  <li><a href="{{ item.url | url }}">{% if item.data.type == 'post' %}✍️{% else %}🗒️{% endif %} {{ item.data.title }}</a></li>
{% endfor %}
</ul>
